@using LibraryManagement.Web.ViewModels.Book
@model IEnumerable<BookIndexViewModel>
@foreach (var book in Model)
{
    <div>
        <h3>@book.Title</h3>
        <p>@book.ImageUrl</p>
        <p>@book.AuthorName</p>
        <p>@book.PublishedDate</p>
        <a asp-action="Details" asp-route-id="@book.Id">Details</a>
    </div>
}
